In [77]:
import numpy as np
import pandas as pd

In [78]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.11/dist-packages (4.13.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from pymongo) (2.7.0)

In [79]:
import pymongo
from bson import ObjectId

In [80]:
client = pymongo.MongoClient("mongodb+srv://aditya:Aditya1104@cartrader.sbgkq8j.mongodb.net")
db = client['carTrader']
collection = db['cars']

# Fetch documents
cursor = collection.find()
df = pd.DataFrame(list(cursor))

In [81]:
df['_id'] = df['_id'].astype(str)

In [82]:
def year_bin(year):
    if year >= 2017:        # Recent 25% (75% = 2016)
        return "year_new"
    elif year >= 2010:      # Between 2010 and 2016
        return "year_mid"
    else:                   # Before 2010
        return "year_old"

In [83]:
def price_bin(price):
    if price < 208749:
        return "price_budget"
    elif price < 600000:
        return "price_midrange"
    else:
        return "price_premium"

In [84]:
def kms_bin(kms):
    if kms < 35000:
        return "kms_low"
    elif kms < 90000:
        return "kms_mid"
    else:
        return "kms_high"

In [85]:
df['year_tag'] = df['year'].apply(year_bin)
df['price_tag'] = df['sellingPrice'].apply(price_bin)
df['kms_tag'] = df['kmsDriven'].apply(kms_bin)

In [86]:
df.head()

,_id,name,year,sellingPrice,kmsDriven,fuel,sellerType,transmission,owner,year_tag,price_tag,kms_tag
0,684555a5e78e2a95e7cfc898,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner,year_old,price_budget,kms_mid
1,684555a5e78e2a95e7cfc899,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner,year_old,price_budget,kms_mid
2,684555a5e78e2a95e7cfc89a,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner,year_mid,price_premium,kms_high
3,684555a5e78e2a95e7cfc89b,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner,year_new,price_midrange,kms_mid
4,684555a5e78e2a95e7cfc89c,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner,year_mid,price_midrange,kms_high

In [87]:
df.shape

(1475, 12)

In [88]:
df.drop(['year', 'sellingPrice', 'kmsDriven'], axis=1, inplace=True)

In [89]:
df.head()

,_id,name,fuel,sellerType,transmission,owner,year_tag,price_tag,kms_tag
0,684555a5e78e2a95e7cfc898,Maruti 800 AC,Petrol,Individual,Manual,First Owner,year_old,price_budget,kms_mid
1,684555a5e78e2a95e7cfc899,Maruti Wagon R LXI Minor,Petrol,Individual,Manual,First Owner,year_old,price_budget,kms_mid
2,684555a5e78e2a95e7cfc89a,Hyundai Verna 1.6 SX,Diesel,Individual,Manual,First Owner,year_mid,price_premium,kms_high
3,684555a5e78e2a95e7cfc89b,Datsun RediGO T Option,Petrol,Individual,Manual,First Owner,year_new,price_midrange,kms_mid
4,684555a5e78e2a95e7cfc89c,Honda Amaze VX i-DTEC,Diesel,Individual,Manual,Second Owner,year_mid,price_midrange,kms_high

In [90]:
df.dropna(inplace=True)

In [91]:
df.drop_duplicates(inplace=True)

In [92]:
df.shape

(1475, 9)

In [93]:
df['owner'] = df['owner'].str.replace(' ', '')
df['sellerType'] = df['sellerType'].str.replace(' ', '')

In [94]:
df.head()

,_id,name,fuel,sellerType,transmission,owner,year_tag,price_tag,kms_tag
0,684555a5e78e2a95e7cfc898,Maruti 800 AC,Petrol,Individual,Manual,FirstOwner,year_old,price_budget,kms_mid
1,684555a5e78e2a95e7cfc899,Maruti Wagon R LXI Minor,Petrol,Individual,Manual,FirstOwner,year_old,price_budget,kms_mid
2,684555a5e78e2a95e7cfc89a,Hyundai Verna 1.6 SX,Diesel,Individual,Manual,FirstOwner,year_mid,price_premium,kms_high
3,684555a5e78e2a95e7cfc89b,Datsun RediGO T Option,Petrol,Individual,Manual,FirstOwner,year_new,price_midrange,kms_mid
4,684555a5e78e2a95e7cfc89c,Honda Amaze VX i-DTEC,Diesel,Individual,Manual,SecondOwner,year_mid,price_midrange,kms_high

In [95]:
df['name'] = df['name'].str.lower().str.strip()

In [96]:
df['tags'] = df[['name', 'year_tag', 'price_tag', 'kms_tag', 'fuel', 'sellerType', 'transmission', 'owner']].fillna('').agg(' '.join, axis=1)

new_df = df.drop(columns=['year_tag', 'price_tag', 'kms_tag', 'fuel', 'sellerType', 'transmission', 'owner'])

new_df.head()

,_id,name,tags
0,684555a5e78e2a95e7cfc898,maruti 800 ac,maruti 800 ac year_old price_budget kms_mid Pe...
1,684555a5e78e2a95e7cfc899,maruti wagon r lxi minor,maruti wagon r lxi minor year_old price_budget...
2,684555a5e78e2a95e7cfc89a,hyundai verna 1.6 sx,hyundai verna 1.6 sx year_mid price_premium km...
3,684555a5e78e2a95e7cfc89b,datsun redigo t option,datsun redigo t option year_new price_midrange...
4,684555a5e78e2a95e7cfc89c,honda amaze vx i-dtec,honda amaze vx i-dtec year_mid price_midrange ...

In [97]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df.head()

,_id,name,tags
0,684555a5e78e2a95e7cfc898,maruti 800 ac,maruti 800 ac year_old price_budget kms_mid pe...
1,684555a5e78e2a95e7cfc899,maruti wagon r lxi minor,maruti wagon r lxi minor year_old price_budget...
2,684555a5e78e2a95e7cfc89a,hyundai verna 1.6 sx,hyundai verna 1.6 sx year_mid price_premium km...
3,684555a5e78e2a95e7cfc89b,datsun redigo t option,datsun redigo t option year_new price_midrange...
4,684555a5e78e2a95e7cfc89c,honda amaze vx i-dtec,honda amaze vx i-dtec year_mid price_midrange ...

In [98]:
new_df['tags'][0]

'maruti 800 ac year_old price_budget kms_mid petrol individual manual firstowner'

In [99]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
tag_vectors = vectorizer.fit_transform(new_df['tags']).toarray()
tag_vectors.shape

(1475, 706)

tag_vectors is a numerical representation of the dataset’s textual features — each car is a vector where each dimension corresponds to a specific word/token from your combined tags, and the value is how many times that token appears for that car.

In [100]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(tag_vectors)
similarity

array([[1.        , 0.76277007, 0.3       , ..., 0.28603878, 0.23717082,
        0.28603878],
       [0.76277007, 1.        , 0.28603878, ..., 0.27272727, 0.22613351,
        0.27272727],
       [0.3       , 0.28603878, 1.        , ..., 0.47673129, 0.63245553,
        0.47673129],
       ...,
       [0.28603878, 0.27272727, 0.47673129, ..., 1.        , 0.45226702,
        0.45454545],
       [0.23717082, 0.22613351, 0.63245553, ..., 0.45226702, 1.        ,
        0.37688918],
       [0.28603878, 0.27272727, 0.47673129, ..., 0.45454545, 0.37688918,
        1.        ]])

In [101]:
def get_similar_cars(car_index, top_n=10):
    # Get pairwise similarity scores of this car to all others
    sim_scores = list(enumerate(similarity[car_index]))

    # Sort by similarity score, highest first
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1 : top_n + 1]

    # Return indices of top similar cars
    similar_indices = [i[0] for i in sim_scores]
    return similar_indices

In [102]:
simi_indices = get_similar_cars(2)
new_df.iloc[simi_indices]

,_id,name,tags
1068,684555a5e78e2a95e7cfccc4,hyundai i20 active 1.4 sx,hyundai i20 active 1.4 sx year_mid price_premi...
702,684555a5e78e2a95e7cfcb56,hyundai verna 1.6 crdi sx option,hyundai verna 1.6 crdi sx option year_mid pric...
87,684555a5e78e2a95e7cfc8ef,hyundai sonata crdi m/t,hyundai sonata crdi m/t year_mid price_premium...
1377,684555a5e78e2a95e7cfcdf9,hyundai santa fe 4x4,hyundai santa fe 4x4 year_mid price_premium km...
222,684555a5e78e2a95e7cfc976,hyundai verna 1.6 sx crdi (o),hyundai verna 1.6 sx crdi (o) year_mid price_m...
584,684555a5e78e2a95e7cfcae0,hyundai verna crdi 1.6 sx,hyundai verna crdi 1.6 sx year_new price_premi...
1167,684555a5e78e2a95e7cfcd27,hyundai verna crdi sx,hyundai verna crdi sx year_mid price_midrange ...
1195,684555a5e78e2a95e7cfcd43,hyundai verna 1.6 crdi sx,hyundai verna 1.6 crdi sx year_mid price_premi...
841,684555a5e78e2a95e7cfcbe1,hyundai verna transform crdi vgt sx abs,hyundai verna transform crdi vgt sx abs year_m...
444,684555a5e78e2a95e7cfca54,hyundai xcent 1.1 crdi sx option,hyundai xcent 1.1 crdi sx option year_mid pric...

In [103]:
from pymongo import UpdateOne
from bson import ObjectId

bulk_ops = []

for idx in range(len(new_df)):
    similar_indices = get_similar_cars(idx, top_n=5)

    # Convert those row indices to MongoDB ObjectIds
    similar_object_ids = [ObjectId(new_df.iloc[i]['_id']) for i in similar_indices]

    bulk_ops.append(
        UpdateOne(
            {'_id': ObjectId(new_df.iloc[idx]['_id'])},
            {'$set': {'similarCars': similar_object_ids}}
        )
    )

# Execute in bulk
collection.bulk_write(bulk_ops)


    # print(f"Updated car {new_df.iloc[idx]['_id']} with similar cars: {similar_ids}")
# Find the car document whose _id matches the one at index idx in our DataFrame
# Use $set to update or add the field similarCars in that document.
# Set similarCars to be a list of ObjectIds.
# Takes each ID in the list similar_ids (which are the IDs of similar cars found by your recommendation system).
# Converts each of them to MongoDB ObjectId type so they match the format stored in MongoDB.
# Returns a list of these ObjectIds, which becomes the new value of the similarCars field in the document.

BulkWriteResult({'writeErrors': [], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 1475, 'nModified': 1475, 'nRemoved': 0, 'upserted': []}, acknowledged=True)

In [104]:
import joblib

# Save vectorizer
joblib.dump(vectorizer, 'vectorizer.pkl')

# Save the vectorized demo car matrix
joblib.dump(tag_vectors, 'vector_matrix.pkl')

# Save the demo dataset (with IDs)
new_df.to_csv('car_data.csv', index=False)